html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    /* border: 1px solid black; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #6E8C03; */
    background-color: #72A603;
    /* color: whitesmoke; */
    color: white;
    /* border: 3px solid #C0D904; */
    border-radius: 5px;
    padding: .1em .5em;
}

body {
    /* background-color: white; */
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    border: 3px solid #C0D904;
    padding: 1em;
}

.title {
    display: flex;
    padding-left: 1em;
    /* font-size: 20vh; */
    /* border: 1px solid black; */
}

/* .item-list {
    border: 1px solid black; 
} */

/* .list {
    border: 1px solid black; 
} */

/* list-choice contains new-list and list-select */
.list-choice {
    display: flex;   /* automatically defaults to flex row */
    justify-content: left;
    /* border: 1px solid blue; */
    width: 75vw;    /* 75% of view width */
}

.new-list {
    display: flex;
    /* gap: 10px; */
    justify-content: space-around;
    /* border: 1px solid green; */
}

/* list-select contains or and drop-down */
.list-select {
    display: flex;
    /* gap: 10px;  */
    justify-content: space-around;
    /* border: 1px solid orange; */
    width: 30vw;
}

.or {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    /* border: 1px solid green; */
}

.drop-down {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    /* border: 1px solid green; */
}

.item-row {
    display: flex;   /* automatically defaults to flex row */
    justify-content: left;
    /* border: 1px solid blue; */
    width: 60vw;    /* 50% of view width */
}

.item-row-left {
    display: flex;
    /* min-width: 30rem;    MAYBE PUT THIS BACK*/
    /* gap: 10px; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* border: 1px solid green; */
}

.item-row-right {
    display: flex;
    /* min-width: 25rem;    MAYBE PUT THIS BACK */
    /* gap: 10px;  */
    justify-content: space-around;
    /* border: 1px solid orange; */
}

.action-buttons {
    display: flex;
    width: 12rem;
}

.complete {
    text-decoration: line-through;
}

#aisle {
    justify-content: right;
    color: grey;
    width: 7rem;
}

#note {
    color: grey;
}

/* ul {
    border: 1px solid green;
} */

/* li {
    list-style-type: none;
} */

